* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    color: #2c3e50;
}



.btn_audio {
    color: #2c3e50;
}

.barrafija {
    display: none;
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f3f4f6;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.barrafija a {
    color: #2c3e50;
    text-decoration: none;
}

.panel0 {
    padding-right: 2.5rem;
    padding-left: 9.5rem;
}

.topbar-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.topbar-left h2 {
    margin: 0;
    color: #2c3e50;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 0;
}

.tabla-container {
    height: 40em;
    width: 100%;
    overflow: auto;
}

.tabla-container table tr:first-child {
    position: sticky;
    top: 0;
}

.tabla-container table th:nth-child(1),
.table th:nth-child(2),
.table th:nth-child(3),
.table th:nth-child(4),
.table th:nth-child(5),
.table th:nth-child(6),
.table th:nth-child(7),
.table th:nth-child(8),
.table th:nth-child(9) {
    position: sticky;
    top: -0;
    color: #f3f4f6;
    background-color: #2c3e50;
    border: 0;
    border-left: 2px solid #2c3e50;
    border-right: 2px solid #2c3e50;
}

table {
    width: 98%;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 40px;
    color: #2c3e50;
    background-color: #f3f4f6;
}

th,
td {
    padding: 10px;
    border: 1px solid #2c3e50;
    text-align: left;
    word-wrap: break-word;
}

td a {
    text-decoration: none;
    color: #2c3e50;
}

td a:hover {
    color: #f3f4f6;
}

table td:nth-child(1) {
    background-color: #B6BBC4;
    border: 1px solid #2c3e50;
}

form {
    max-width: 800px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f3f4f6;
    border-color: #2c3e50;
    color: #2c3e50;
}

.btn-box {
    margin-top: 1.5rem;
}

.tabla {
    margin-top: 1.5rem;
}

.tabla h2 {
    margin-bottom: 1.5rem;
}

button {
    background-color: #f3f4f6;
    color: #f3f4f6;
    padding: 10px;
    border: 2px solid #2c3e50;
    cursor: pointer;
    font-weight: bold;
}

.buscartext {
    border: none;
    padding: 8px;
    border-radius: 5px 0 0 5px;
    background-color: #f3f4f6;
    border-top: 2px solid #2c3e50;
    border-left: 2px solid #2c3e50;
    border-bottom: 2px solid #2c3e50;
}

.busca-btn {
    width: 30%;
    border: 2px solid #2c3e50;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #2c3e50;
    color: #f3f4f6;
}

button.reset-btn {
    background-color: transparent;
    color: #2c3e50;
    float: right;
    width: 15%;
    border-radius: 5px;
}

.enviar-btn {
    background-color: #2c3e50;
    color: #f3f4f6;
    padding: 8px 10px;
    border: 2px solid #2c3e50;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
}

.login-registro a {
    padding-right: 40px;
    color: #f3f4f6
}

.log0 {
    max-width: 25%;
    margin: 200px auto;
    padding: 50px;
    background-color: rgba(240, 236, 229, .5);
    border-radius: 10px;
    border: 2px solid #2c3e50;
}

.log1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: #2c3e50;
}

.log2 {
    margin-top: 0.25rem;
    display: block;
    width: 96%;
    padding: 0.5rem;
    border-radius: 5px;
}

.log23 {
    margin-top: 0.5rem;
}

.log3 {
    margin-top: 1rem;
}

.log34 {
    margin-top: 0.5rem
}

.log4 {
    display: block;
    margin-top: 1rem;
}

.log5 {
    display: flex;
    align-items: center;
}

.log6 {
    margin-left: 0.5rem;
    font-size: 0.875rem;
    color: #2c3e50;
}

.log7 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
}

.log8 {
    color: #2c3e50;
}

.log8:hover {
    color: #2c3e50;
}

.log-btn {
    margin-left: 1rem;
    width: 30%;
    border: 2px solid #2c3e50;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #2c3e50;
    color: #f3f4f6;
}

.log-btn:hover {
    background-color: #2c3e50;
}

#logo_out {
    display: none;
}

.dash0 {
    font-weight: 600;
    font-size: 1.25rem;
    color: #2c3e50;
    line-height: 1.25;
}

.dash1 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.dash2 {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.dash3 {
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;

}

.dash4 {
    padding: 1.5rem;
    color: #111827;

}

.auth-fondo {
    min-height: 100vh;
    background-color: #f3f4f6;
}

.auth-head {
    background-color: #fff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #e2e8f0;
}

.auth-topbar {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.auth0 {
    display: flex;
    justify-content: space-between;
    height: 4rem;

}

.auth1 {
    display: flex;
}

.auth2 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.auth3 {
    display: block;
    height: 2.25rem;
    width: auto;
    fill: currentColor;
    color: #2d3748;
}

.auth4 {
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: -1px;
    margin-bottom: -1px;
}

.auth4 a {
    display: inline-flex;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    border-bottom-width: 2px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    transition-duration: 150ms;
    border-color: #7f9cf5;
    color: #1a202c;
    padding: 10px;
    text-decoration: none;
}

.auth4 a:focus {
    border-color: #4c51bf;
    color: #4c51bf;
}

.auth5 {
    display: flex;
    align-items: center;
    margin-left: 60rem;
}

.auth6 {
    margin-left: 0.75rem;
    position: relative;
}

.auth7 {
    display: inline-flex;
    border-radius: 0.375rem;
}

.auth-button {
    display: inline-flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-color: transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    border-radius: 0.375rem;
    color: #6b7280;
    background-color: #fff;
    transition-duration: 150ms;
}

.auth-button:hover {
    color: #4b5563;
}

.auth-flecha {
    margin-left: 0.5rem;
    margin-right: -0.125rem;
    height: 1rem;
    width: 1rem;
}

.auth8 {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;

}

.auth8:hidden {
    display: none;
}

.auth9 {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.375rem;
    color: #cbd5e0;
    transition-duration: 150ms;
}

.auth9:hover {
    color: #a0aec0;
    background-color: #f7fafc;
}

.auth9:focus {
    outline: none;
    background-color: #f7fafc;
    color: #a0aec0;
}

.auth-menu {
    height: 1.5rem;
    width: 1.5rem;
}

.auth-inline-flex {
    display: inline-flex;
}

.auth-hidden {
    display: none;
}

.auth-block {
    display: none;
}

.auth-salas {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}

.auth-name {
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    border-top-width: 1px;
    border-color: #e2e8f0;
}

.auth-name2 {
    margin-top: 0.75rem;
}

.auth-name3 {
    font-weight: 500;
    font-size: 1rem;
    color: #2d3748;
}

.auth-email {
    font-weight: 500;
    font-size: 0.875rem;
    color: #6b7280;
}

.auth-profile {
    margin-top: 0.75rem;
}

.auth-header {
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.auth-header2 {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.guest {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    background-color: #f3f4f6;
}

.guest-logo {
    width: 5rem;
    height: 5rem;
    fill: currentColor;
    color: #6b7280;
}

.guest2 {
    width: 100%;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    border-radius: 0.5rem;
}

.text-input {
    border-color: #e5e7eb;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.text-input:focus {
    border-color: #6366f1;
}

.secundary-button {
    display: inline-flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    border-width: 1px;
    border-color: #d1d5db;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 0.75rem;
    color: #374151;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition-duration: 150ms;
}

.secundary-button:hover {
    background-color: #f9fafb;
}

.secundary-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(103, 114, 229, 0.5);
}

.secundary-button:disabled {
    opacity: 0.25;
}

.secundary-button-opacity-25 {
    opacity: 0.25;
}

.navLink {
    display: inline-flex;
    align-items: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.25rem;
    border-bottom-width: 2px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    transition-duration: 150ms;
}

.navLink:focus {
    outline: none;
}

.navLink2 {
    border-color: #7f9cf5;
    color: #1a202c;
    padding: 10px;
}

.navLink2:focus {
    border-color: #4c51bf;
}

.navLink3 {
    border-color: #7f9cf5;
    color: #1a202c;
    padding: 10px;
}

.navLink3:focus {
    border-color: #4c51bf;
}

.conf-pass {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #4a5568;
}

.forgot {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: #047857;
}

.verify {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #4a5568
}

.verify2 {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verify3 {
    text-decoration: underline;
    font-size: 0.875rem;
    color: #4a5568;
    border-radius: 0.375rem;
}

.verify3:hover {
    color: #1a202c;
}

.verify3:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

.edit0 {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.edit1 {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}

.edit2 {
    max-width: 36rem;
}

.edit-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #2d3748;
    line-height: 1.25;
}

.profile0 {
    font-size: 1.125rem;
    font-weight: 500;
    color: #111827;
}

.profile1 {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #6b7280;
}

.profile-name {
    margin-top: 1.5rem;
}

.profile2 {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #2d3748;
}

.profile3 {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    color: #38a169;
}

.profile4 {
    display: flex;
    align-items: center;
}

.profile5 {
    font-size: 0.875rem;
    color: #6b7280;
    margin-left: 1rem;
    margin-top: 1rem;
}

.delete0 {
    padding: 1.5rem;
}

.delete1 {
    margin-top: 1.5rem;
}

.delete2 {
    margin-top: 0.25rem;
    display: block;
    width: 75%;
}

.delete3 {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.delete4 {
    margin-left: 0.75rem;
    position: relative;
}

.resnav0 {
    width: 8.5rem;
    display: flex;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-left-width: 1px;
    background-color: #2c3e50;
    text-decoration: none;
}

.resnav1 {
    border-color: #7f9cf5;
    color: #4c51bf;
    background-color: #ebf4ff;
}

.resnav1:focus {
    border-color: #5a67d8;
    color: #4338ca;
    background-color: #cbd5e1;
}

.resnav2 {
    border-color: transparent;
    color: #cbd5e1;
}

.resnav2:hover {
    color: #2d3748;
    background-color: #f7fafc;
    border-color: #e2e8f0;
}

.resnav2:focus {
    border-color: #e2e8f0;
    color: #2d3748;
    background-color: #f7fafc;
}

.resnav3 {
    font-size: 1rem;
    font-weight: 500;
    transition-duration: 150ms;
}

.resnav3:focus {
    outline: none;
}

.primary-button {
    display: inline-flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: #2c3e50;
    border-width: 1px;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 0.75rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    transition-duration: 150ms;
}

.primary-button:hover {
    background-color: #4a5568;
}

.primary-button:focus {
    background-color: #4a5568;
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.primary-button2 {
    opacity: 0.25
}

.modal0 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    z-index: 50;
    transform: none;
    transition-duration: 150ms;
}

.modal1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(107, 114, 128, 0.75);
}

.modal2 {
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.375rem;
    overflow: hidden;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    transform: none;
    transition-duration: 150ms;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.input-label {
    display: block;
    font-weight: 500;
    font-size: 0.875rem;
    color: #4a5568;
    margin-top: 1rem;
}

.input-error {
    font-size: 0.875rem;
    color: #DC2626;
}

.dropdown0 {
    position: relative;
}

.dropdown1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 40;
}

.dropdown2 {
    position: absolute;
    z-index: 50;
    margin-top: 0.5rem;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.dropdown3 {
    border-radius: 0.375rem;
    box-shadow: 0 0 0 1px black;
}

.dropdown3 button {
    border: none;
    width: 100%;
}

.dropdown4 {
    display: block;
    width: 74%;
    height: 100;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: start;
    font-size: 0.875rem;
    line-height: 1.25;
    color: #4a5568;
    transition-duration: 150ms;
    background-color: #ffff;
    text-decoration: none;
}

.dropdown4:hover {
    background-color: #f3f4f6;
}

.dropdown4:focus {
    outline: none;
    background-color: #f3f4f6;
}

.dropdown5 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: #ffffff;
    align-items: right;
    width: 145%;
}

.ltr {
    transform-origin: top left;
}

.rtl {
    transform-origin: top right;
}

.start-0 {
    left: 0;
}

.ltr2 {
    transform-origin: top right;
}

.rtl2 {
    transform-origin: top left;
}

.end-0 {
    right: 0;
}

.danger-button {
    display: inline-flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: #DC2626;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.375rem;
    font-weight: 600;
    font-size: 0.75rem;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    transition-duration: 150ms;
}

.danger-button:hover {
    background-color: #EF4444;
}

.danger-button:active {
    background-color: #B91C1C;
}

.danger-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5);
    outline-offset: 2px
}

.checkbox {
    border-radius: 0.375rem;
    border-color: #D1D5DB;
    color: #4F46E5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.checkbox:focus {
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.5);
}

.salaPage {
    margin-top: 2rem;

}